.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__form {
  display: flex;
  justify-content: center;
}

.main__form_input {
  margin-top: -180px;
  border-radius: 5px 0 0 5px;
  border: 0;
  padding: 0 0 0 10px;
  height: 50px;
  width: 200px;
}

.main__form_button {
  margin-top: -180px;
  border-radius: 0 5px 5px 0;
  border: 0;
  padding: 0;
  height: 50px;
  width: 100px;
  background-color: #2f71e5;
  color: white;
}

.main__form_button:hover {
  opacity: 85%;
  cursor: pointer;
}

.main__form_input:focus {
  outline: none;
  padding-left: 10px;
}
