.main {
}

.main__form {
  display: flex;
  justify-content: center;

  padding: 80px;
}

.main__form_input {
  border-radius: 5px 0 0 5px;
  border: 0;
  padding: 0 0 0 10px;
  height: 40px;
  width: 160px;
}

.main__form_button {
  border-radius: 0 5px 5px 0;
  border: 0;
  padding: 0;
  height: 40px;
  width: 80px;
  background-color: #2f71e5;
  color: white;
}

.main__form_button:hover {
  opacity: 85%;
  cursor: pointer;
}

.main__form_input:focus {
  outline: none;
  padding-left: 10px;
}
