.about {
  margin: 20px 0 auto;
  align-self: center;
  text-align: left;
  width: 60%;
}

.about__title {
  font-size: 1.8em;
}

.about__text {
  font-size: 1em;
}
@media screen and (max-width: 1080px) {
  .about {
    width: 90%;
  }
}
