.nav {
  display: flex;
  justify-content: center;
}

.navbar {
  margin: 0px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 20px;
}

.navitem {
  font-size: 18px;
}

.navlink {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navlink:hover {
  color: #ff9933;
  cursor: pointer;
}

.active {
  color: #ff9933;
  text-decoration: underline;
}
