.nav {
  display: flex;
  justify-content: center;
}

.navbar {
  margin: 0px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 40px;
}

.navitem {
  font-size: 18px;
}

.navlink {
  text-decoration: none;
  color: white;
}

.navitem:hover {
  color: aqua;
  cursor: pointer;
}

.active {
  color: red;
}
