.header {
  display: flex;
  padding: 20px 40px;
  background-color: #0099dd;
  color: white;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.header__title {
  margin: 0;
  text-align: left;
}
