.App {
  text-align: center;
  margin: 0;
  min-height: 100vh;
  background-color: #a1c7e0;
  overflow: hidden;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.App_console {
  margin: 30px auto;
  border-radius: 15px 15px;
  width: 60%;
  background-color: #026e81;
}

.divisor {
  background: linear-gradient(rgba(0, 0, 0, 0.729), rgba(0, 0, 0, 0.672)),
    url('../images/searchBackground.jpg') no-repeat center;
  background-size: cover;
  height: 200px;
}

@media screen and (max-width: 900px) {
  .App_console {
    width: 90%;
  }
}
