.App {
  text-align: center;
  margin: 0;
  background-color: rgb(249, 248, 248);
  overflow: hidden;
  color: black;
  display: flex;
  flex-direction: column;
}

.App_console {
  display: flex;
  flex-direction: column;
}

.divisor {
  background: linear-gradient(
      rgba(78, 184, 210, 0.226),
      rgba(50, 168, 192, 0.519)
    ),
    url('../images/backgroundMap.png') no-repeat center;
  background-size: cover;
  height: 300px;
}
