.result {
  margin-top: 10px;
  text-align: left;
  width: 60%;
  min-height: 20vh;
}

.result__list {
  padding: 10px;
  list-style: none;
  background-color: #edecec;
  border-radius: 15px 15px;
}

.result__list_item {
  margin: 0;
}

.result__titulo {
  padding: 20px 0;
  text-align: center;
  font-size: 1.8em;
}

.result__subtitulo {
  margin: 10px 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #ff9933;
  border: 1px solid #00abbd;
  padding: 2px;
}

.result__dado {
  font-size: 1em;
  text-decoration: none;
  margin-top: 10px 0;
}

.result__link {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.result__loup {
  width: 25px;
}

@media screen and (max-width: 1080px) {
  .result {
    width: 90%;
  }
}
