.footer {
  padding: 20px;
  background-color: #a1c7e0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1em;
}

.footer__text {
  margin: 0;
}

.footer__icons {
  width: 20px;
  height: 20px;
}
